<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>套餐信息修改</title>
    <link rel="icon" th:href="@{/picture/favicon.ico}" >
    <!-- plugin css file  -->
    <link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">

    <!-- project css file  -->
    <link rel="stylesheet" th:href="@{/css/ihealth.style.min.css}">
</head>
<body>

<div id="ihealth-layout" class="theme-tradewind">

    <!-- sidebar -->
    <div th:replace="~{commons/bar_admin::sidebar(activeUri='phy_depart')}"></div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div th:replace="~{commons/bar_admin::body_header}"></div>

        <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0"><a th:href="@{/phySetList}">所有套餐</a>->修改 [[${updateSet.phyName}]] 套餐信息</h3>
                        </div>
                    </div>
                </div>
                <div class="row align-item-center">
                    <div class="col-md-8" style="margin: 0 auto;">
                        <div class="card mb-3" >
                            <div class="card-body" >
                                <form th:action="@{/setModify}" method="post">
                                    <div class="row g-3 align-items-center" style="clear: both;">

                                            <input type="hidden"  th:value="${updateSet.phyId}" required="" name="phyId">

                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐</b></h6></label>
                                            <input type="text" class="form-control" id="firstname" name="phyName" required="" th:value="${updateSet.phyName}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>检查类型数量</b></h6></label>
                                            <input type="text" class="form-control"    name="phyCheckNum" required="" th:value="${updateSet.phyCheckNum}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐类型1</b></h6></label>
                                            <input type="text" class="form-control"  name="phyCheckTypeOne" required="" th:value="${updateSet.phyCheckTypeOne}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐类型2</b></h6></label>
                                            <input type="text" class="form-control"  name="phyCheckTypeTwo"  th:value="${updateSet.phyCheckTypeTwo}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐类型3</b></h6></label>
                                            <input type="text" class="form-control"  name="phyCheckTypeThree"  th:value="${updateSet.phyCheckTypeThree}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐类型4</b></h6></label>
                                            <input type="text" class="form-control"  name="phyCheckTypeFour"  th:value="${updateSet.phyCheckTypeFour}">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="firstname" class="form-label"><h6><b>套餐类型5</b></h6></label>
                                            <input type="text" class="form-control"  name="phyCheckTypeFive"  th:value="${updateSet.phyCheckTypeFive}">
                                        </div>
                                        <div class="col-md-10">
                                            <label class="form-label"><h6><b>描述</b></h6></label>
                                            <br>
                                            <textarea id="depart_text" class="form-control" rows="6"  name="phyCheckRemark">[[${updateSet.phyCheckRemark}]]</textarea>
                                        </div>
                                        <div class="col-md-10">
                                            <label class="form-label"><h6><b>检查类型</b></h6></label>
                                            <br>
                                            <div class="switch switch-large" style="width: 30%;float: left" th:each="Depart:${DepartList}">
                                                <input type="checkbox"   th:value="${Depart.departNum}" th:checked="${#lists.contains(departIdList, Depart.getDepartNum())}" th:text="${Depart.departName}" name="phyItem" />
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <label class="form-label"><h6><b>价格</b></h6></label>
                                            <input type="text" class="form-control" id="phonenumber" required="" name="phyPrice" th:value="${updateSet.phyPrice}">
                                        </div>
                                    </div>
                                    <div style="clear: both; margin: 20px 20px 0 auto">
                                        <button type="submit"  class="btn btn-primary btn-lg" >修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!-- Row end  -->

            </div>
        </div>
        <!-- Modal Custom Settings-->


    </div>

</div>
<!-- Jquery Core Js -->
<script th:src="@{/js/libscripts.bundle.js}"></script>

<!-- Plugin Js -->
<script th:src="@{/js/apexcharts.bundle.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/owl.carousel.js}"></script>
<script th:src="@{/js/dataTables.bundle.js}"></script>

<!--&lt;!&ndash; Jquery Page Js &ndash;&gt;-->
<script th:src="@{/js/template.js}"></script>
<script>
    $(function() {
        // initialize after multiselect
        $('#basic-form').parsley();
    });
</script>


</body>
</html>