<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>提健结果查询</title>
    <link rel="icon" th:href="@{picture/favicon.ico}">
    <!-- plugin css file  -->
    <link rel="stylesheet" th:href="@{/css/report.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">

    <!-- project css file  -->
    <link rel="stylesheet" th:href="@{/css/ihealth.style.min.css}">
</head>
<body>

<div id="ihealth-layout" class="theme-tradewind">

    <!-- sidebar -->
    <div th:replace="~{commons/bar_user::sidebar(activeUri='report_result')}"></div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div th:replace="~{commons/bar_user::body_header}"></div>

        <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="row align-items-center">
                <div class="border-0 mb-4">
                    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                        <h3 class="fw-bold mb-0">体检结果查询</h3>
                    </div>
                </div>
            </div> <!-- Row end  -->
            <div class="row align-item-center" th:if="${#strings.isEmpty(session.phy_process_id)}" >
                <div class="col-md-8" style="margin: 0 auto;">
                    <div class="card mb-3" style="margin: 0 auto;" >
                        <div class="card-body"  style="margin: 0 auto;" >
                            <form th:action="@{/phy_report_query}" method="post" >
                                <p style="color: red" th:text="${msg_reservation}" th:if="${not #strings.isEmpty(msg_reservation)}" ></p>
                                <div class="row g-3 align-items-center" style="clear: both;">

                                    <div class="col-md-10">
                                        <label for="lastname" class="form-label"><h6><b>证件号码</b></h6></label>
                                        <input type="text" class="form-control" id="lastname" required="" name="subPhyCert">
                                    </div>
                                    <div class="col-md-10">
                                        <label for="admitdate" class="form-label"><b>检查日期</b></label>
                                        <input type="date" class="form-control" id="admitdate" required="" name="subPhyDate">
                                    </div>
                                </div>
                                <div style="text-align: center;"  >
                                    <button type="submit"  class="btn btn-primary mt-4" ><b>立即查询</b></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xxl" th:if="${!#strings.isEmpty(session.phy_process_id)}">

                <table border='0' cellpadding='0' cellspacing='0' width='728' style='border-collapse:collapse;table-layout:fixed;width:546pt; margin: 0 auto;'>
                    <col width='104' span='7' style='mso-width-source:userset;width:78pt'>
                    <tr height='40' style='mso-height-source:userset;height:30pt' id='r0'>
                        <td colspan='7' rowspan='2' height='76' class='x69' width='728' style='height:57pt;'>体   检   报   告</td>
                    </tr>
                    <tr height='36' style='mso-height-source:userset;height:27pt' id='r1'>
                    </tr>
                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r2'>
                        <td height='30' class='x70' style='height:23pt;'>姓名</td>
                        <td class='x70' th:text="${userinfo.registrationName}"></td>
                        <td class='x70' >性别</td>
                        <td class='x70' th:text="${userinfo.registrationGender}"></td>
                        <td class='x70'>出生日期</td>
                        <td colspan='2' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;' th:text="${userinfo.registrationBirth}"></td>
                    </tr>
                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r3'>
                        <td height='30' class='x70' style='height:23pt;'>身份证号</td>
                        <td colspan='6' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;' th:text="${userinfo.registrationCert}"></td>
                    </tr>
                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r4'>
                        <td height='30' class='x70' style='height:23pt;'>检查日期</td>
                        <td colspan='2' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;' th:text="${userinfo.subPhyCheckDate}"></td>
                        <td class='x70'>体检编号</td>
                        <td class='x70' colspan='3' th:text="${userinfo.registrationId}"></td>
                    </tr>


                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r5'>
                        <td height='30' class='x70' style='height:23pt;'>既往病史</td>
                        <td colspan='6' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>无</td>
                    </tr>
<!--                    <tr th:each="inspect:${inspectList}">-->
<!--                        <td th:text="${departMap.get(inspect.departId).departName}"></td>-->
<!--                        <td  th:text="${integerJSONObjectHashMap.get(inspect.departId)}"></td>-->
<!--                        &lt;!&ndash;                        <div class="deadline-form">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <input name="id" type="hidden" th:value="${inspect.getRegistrationId()}+','+${inspect.getDepartId()}"  >&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="row g-3 mb-3" th:each="data:${inspectJson.keySet()}">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <div class="col-sm-3" >&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    <input  class="form-control" id="depone" th:placeholder="${data}" readonly >&ndash;&gt;-->
<!--                        &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <div class="col-sm-9">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    <input type="text" class="form-control" id="deptwo"  th:name="${data}" th:value="${inspectJson.get(data)}" >&ndash;&gt;-->
<!--                        &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </tr>-->
                    <div th:each="inspect:${inspectList}">
                        <tr height='32' style='mso-height-source:userset;height:24.5pt' >
                            <td th:text="${departMap.get(inspect.departId).departName}" th:rowspan="${inspect.num}+1"  height='161' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:121pt;'>内</br>科</td>

                            <td class='x70'>描述</td>
                            <td  class='x70' colspan='5'  style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
<!--                            <td class='x70'>裸眼视力</td>&ndash;&gt;-->
<!--                            <td  class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                            <td class='x70'>裸眼视力</td>&ndash;&gt;-->
<!--                            <td  class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
                        </tr>
                        <tr height='32' style='mso-height-source:userset;height:24.5pt' th:each="data:${integerJSONObjectHashMap.get(inspect.departId).keySet()}" >
                            <td class='x70' th:text="${data}"></td>
                            <td th:text="${integerJSONObjectHashMap.get(inspect.departId).get(data)}" colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>
                        </tr>

<!--                        <tr height='32' style='mso-height-source:userset;height:24.5pt'  >-->
<!--                            <td class='x70'>心肺功能</td>-->
<!--                            <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                        </tr>-->
<!--                        <tr height='32' style='mso-height-source:userset;height:24.5pt'  >-->
<!--                            <td class='x70'>肝、脾、双肾</td>-->
<!--                            <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                        </tr>-->
<!--                        <tr height='32' style='mso-height-source:userset;height:24.5pt'  >-->
<!--                            <td class='x70'>胸部筛查</td>-->
<!--                            <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                        </tr>-->
                    </div>

<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r6'>-->
<!--                        <td rowspan='4' height='128' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:96.5pt;'>眼</td>-->
<!--                        <td class='x70'>裸眼视力</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r7'>-->
<!--                        <td class='x70'>矫正视力</td>-->
<!--                        <td class='x70'>左</td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'>右</td>-->
<!--                        <td colspan='2' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r8'>-->
<!--                        <td class='x70'>眼疾</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r9'>-->
<!--                        <td class='x70'>色觉</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r10'>-->
<!--                        <td rowspan='3' height='96' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:72pt;'>耳</br>鼻</br>喉</td>-->
<!--                        <td class='x70'>听力</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r11'>-->
<!--                        <td class='x70'>耳疾</td>-->
<!--                        <td class='x70'>左</td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'>右</td>-->
<!--                        <td colspan='2' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r12'>-->
<!--                        <td class='x70'>鼻疾</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->

<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r18'>-->
<!--                        <td rowspan='5' height='161' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:121pt;'>辅</br>助</br>检</br>查</br>结</br>果</td>-->
<!--                        <td class='x70'>胸片</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r19'>-->
<!--                        <td class='x70'>心电图</td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'></td>-->
<!--                        <td class='x70'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r20'>-->
<!--                        <td class='x70'>肝肾功能</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r21'>-->
<!--                        <td class='x70'>血常规</td>-->
<!--                        <td colspan='5' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r22'>-->
<!--                        <td class='x70'>乙肝两对半</td>-->
<!--                        <td colspan='3' class='x70' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'></td>-->
<!--                        <td class='x70'>血型：</td>-->
<!--                        <td class='x70'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r23'>-->
<!--                        <td rowspan='7' height='259' class='x71' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;height:194.5pt;'>体</br>检</br>结</br>果</td>-->
<!--                        <td colspan='6' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>结果：（请在以下项目序号前打‘√’）表示选定该检查结果</td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r24'>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp; </span>①健康或正常</td>-->
<!--                        <td class='x73'></td>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp; </span>②：一般或较弱</td>-->
<!--                        <td class='x73'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r25'>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp; </span>4：传染病传染期</td>-->
<!--                        <td class='x73'></td>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp; </span>5：精神病发病期</td>-->
<!--                        <td class='x73'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r26'>-->
<!--                        <td colspan='6' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'>说明：一、如果选择上述结果③，请继续在下列符号的项目上用（√）表示：</td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r27'>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp; </span>1：心血管病</td>-->
<!--                        <td class='x73'></td>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp; </span>2：脑血管病</td>-->
<!--                        <td class='x73'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r28'>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp; </span>4：慢性消化系统病</td>-->
<!--                        <td class='x73'></td>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp; </span>5：慢性肾炎</td>-->
<!--                        <td class='x73'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r29'>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp; </span>7：神经或者精神疾病</td>-->
<!--                        <td class='x73'></td>-->
<!--                        <td colspan='2' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp; </span>8：糖尿病</td>-->
<!--                        <td class='x73'></td>-->
<!--                    </tr>-->
<!--                    <tr height='32' style='mso-height-source:userset;height:24.5pt' id='r30'>-->
<!--                        <td colspan='7' class='x72' style='border-right:1px solid windowtext;border-bottom:1px solid windowtext;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>医师签名：<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>体检日期：<span style='mso-spacerun:yes;'>&nbsp;&nbsp; </span>年<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp; </span>月<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp; </span>日</td>-->
<!--                    </tr>-->
<!--                    <![if supportMisalignedColumns]>-->
<!--                    <tr height='0' style='display:none'>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                        <td width='104' style='width:78pt'></td>-->
<!--                    </tr>-->
                    <![endif]>
                </table>

            </div>
        </div>
      

    </div>
  
</div>

<!-- Jquery Core Js -->
<script src="static/js/libscripts.bundle.js"></script>

<!-- Plugin Js-->
<script src="static/js/dataTables.bundle.js"></script>

<!-- Jquery Page Js -->
<script src="static/js/template.js"></script>
<script>
    $(document).ready(function() {
       $('#patient-table')
       .addClass( 'nowrap' )
       .dataTable( {
           responsive: true,
           columnDefs: [
               { targets: [-1, -3], className: 'dt-body-right' }
           ]
       });
   });

</script>
<script language = 'javascript' type='text/javascript'>
    function ChangeRowspanHiddenData()
    {
        var node;
        var params=["r0","r6","r10","r13","r18","r23"];
        for (var i = 0;i < params.length; i++)
        {
            node = document.getElementById(params[i]);
            if (node != null)
            {
                node.style.display = "";
            }
        }
    }
    ChangeRowspanHiddenData();
</script>
</body>
</html> 